#mensajes{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    overflow: auto;
    height: 400px;
    background-color: cadetblue;
}

.mensaje{
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
    display: inline-block;
    margin-top: 5px;
    color: #000;
}

/* Establecer fondo oscuro */
body {
    background-color: #121212;
    color: #ffffff; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Tipografía de palo seco */
}

/* Estilo para los enlaces */
a {
    color: #bb86fc; /* Color del enlace */
}

/* Estilo para los enlaces al ser visitados */
a:visited {
    color: #3700B3; /* Color del enlace visitado */
}

/* Estilo para los encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* Color del texto */
}

/* Estilo para las secciones */
section {
    background-color: #212121; /* Color de fondo */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Estilo para los botones */
button {
    background-color: #6200ee; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para los botones al pasar el cursor */
button:hover {
    background-color: #3700b3; /* Color de fondo al pasar el cursor */
}

/* Estilo para los inputs */
input {
    background-color: #333; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: 1px solid #777; /* Borde */
    padding: 5px;
    border-radius: 5px;
}

/* Estilo para el texto seleccionado */
::selection {
    background-color: #6200ee; /* Color de fondo */
    color: #ffffff; /* Color del texto */
}